<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>S:\valheim8\data\bepinex\BepInEx\plugins\PolyRcon</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
	  <CopyLocalLockFileAssemblies>false</CopyLocalLockFileAssemblies>
	  <SelfContained>false</SelfContained>
	  <PublishTrimmed>false</PublishTrimmed>
  </PropertyGroup>
</Project>